.modal-content {
  background-color: white;

  z-index: 999;
}

.confirm-modal {
  display: none;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  justify-content: center;
  align-items: center;

  background-color:rgba(0, 0, 0, 0.6);

  z-index: 998;
}

.confirm-modal.show {
  display: flex;
}