.confirm-modal {
  display: none;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  width: 300px;
  height: 200px;
  margin: auto;
  padding: 50px;

  border-radius: 8px;

  background-color: white;

  z-index: 999;
}

.modal-backdrop {
  display: none;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  height: 100%;
  width: 100%;

  background-color: black;
  opacity: .6;

  z-index: 998;
}