.confirm-modal {
  display: none;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  width: 100px;
  height: 75px;
  margin: auto;

  background-color: white;

  z-index: 999;
}

.modal-backdrop {
  display: none;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;

  background-color: black;
  opacity: .6;

  z-index: 998;
}