body {
  font-family: Helvetica, Arial, sans-serif;
  color: #333333;
  text-align: center;
  padding-top: 200px;
}

button {
  background-color: #444444;
  padding: 5px 7px;
  color: #ffffff;
  border: 1px solid #444444;
  border-radius: 2px;
  min-width: 60px;
  font-size: 1em;
  margin-left: 10px;
  cursor: pointer;
}

.cancel {
  font-size: 0.5em;
  cursor: pointer;
}

.modal-content {
  border-radius: 2px;
}

.modal-content > div {
  padding: 20px;
}

.modal-header {
  font-size: 1.5em;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}